{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
{% block footer %}
    <div class="row" style="position: fixed; bottom: 0; width:100%;margin-top:20px;">
   <!-- Footer -->
     <center>
        <p style="font-weight:bold;color:white;background-color: black;margin:0; margin-right:-10%;height:70px;padding-top: 30px;">Copyright &copy; PKFokam Institute Of Excellence</p>
    </center>
   </div>
{% endblock %}
