
{% extends 'pkflibrary/miscellanous.html.twig '%}

{% block body %}
 <!-- Page Content -->
 <div class="container">

  <header style="font-family: ambleregular;color:#00008B;">
            <div id="moi">
              <h3 style="text-align:center;">Book Management</h3>
            </div>
           
  </header>
 <section>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">1. When you log in as the Librarian you have the following home page: </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
           <p><a href="{{app.request.schemeAndHttpHost ~ asset('images/book/homeAdmin.png') }}" ><img src="{{app.request.schemeAndHttpHost ~ asset('images/book/homeAdminmini.png') }}" alt="" width="250px" height="150px"></a></p>


           
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Home page of the librarian</h5>
          <ul>
            <li>The first thing you will always have to do before any operation is to log in with the correct credentials.</li>
            <li>As you noticed, the home page of the librarian is different from the home page of general users. You have more options, which are related to the management of books, the management of users and the management of borrows</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
  </div>

   <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">2.Adding a new book </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
           <p><a href="images/book/addingBook.png"><img src="images/book/addingBookmini.png" alt="adding a book"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Procedure to add a new book</h5>
          <ul>
            <li>You will notice that there is a button "Add Book". Click on it to add a new book:</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">3. When you click on "Add Book", you get the following form to filled in:</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
              <p><a href="images/book/addBook.png"><img src="images/book/addBookmini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Fill in the form to add the new book.</h5>
          <ul>
            <li>After clicking on "Add Book" the fill shown on the left is displayed</li>
            <li>Fill in the form and save the new book.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">4. View/Edit/Delete a Book:</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/book/editMgntBook.png"><img src="images/book/editMgntBookmini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Other basic operations on a book</h5>
          <ul>
            <li>In addition to adding a book, other basic operations which can be performed on a book include: editing, updating, or deleting a book.</li>
            <li>Once you click on or research a book, this one's details are displayed on the screen, with options to update, and delete the book.</li>
            <li>To carry out one of the previous operations, just click on the corresponding button.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

   <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">5. Manage categories: Click on : "Management > Category Mangement"</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/book/categoryManagement.png"><img src="images/book/categoryManagementmini.png" alt="Category Mangement"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Managing categories and subcategories</h5>
          <ul>
            <li>The software allows to add new categories and subcategories</li>
            <li>To access to the categories management, click on "Management > Category Management"</li>
            <li>You can create, update, or delete  a category</li>
            <li>You can create, update, or delete  a subcategory</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  </section>
   
</div>
{% endblock %}

 {% block footer %}
  <div class="row" style="margin-top:20px;position: absolute;botom: 0;width:100%">
 <!-- Footer -->
   <center>
            <p style="font-weight:bold;color:white;background-color: black;margin:0; padding-top:20px;height:60px;margin-right:-10%;">Copyright &copy; PKFokam Institute Of Excellence</p>
   </center>
 </div>
{% endblock %}