
{% extends 'pkflibrary/miscellanous.html.twig '%}

{% block body %}
 <!-- Page Content -->
 <div class="container">

  <header style="font-family: ambleregular;color:#00008B;">
            <div id="moi">
              <h3 style="text-align:center;">User management help</h3>
            </div>
           
  </header>
 <section>
  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">1. When you log in as the Librarian you have the following home page: </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
           <p><a href="images/borrowMgnt/homeAdmin.png"><img src="images/borrowMgnt/homeAdminmini.png" alt="admin home page"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Home page of the librarian</h5>
          <ul>
            <li>The first thing you will always have to do before any operation is to log in with the correct credentials.</li>
            <li>As you noticed, the home page of the librarian is different from the home page of general users. You have more options, which are related to the management of books, the management of users and the management of borrows</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
  </div>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">2. Click on "Management > Borrow Management" to move to the place dedicated to the management of borrows:</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/borrowMgnt/selectBorrowMgnt.png"><img src="images/borrowMgnt/selectBorrowMgntmini.png" alt="borrow"/></a></p> 
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Access to Borrow Management space</h5>
          <ul>
            <li>One connected as the librarian, cick on "Management > Borrow Management" to get to the space reserved to the management of borrows.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
  </div>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">3. When you click on "Management > Borrow Management", you have the list of all the borrows </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/borrowMgnt/borrowList.png"><img src="images/borrowMgnt/borrowListmini.png" alt="borrows list"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Get the list of all the borrows</h5>
          <ul>
            <li>One connected as the librarian, cick on "Management > Borrow Management" to get to the space reserved to the management of borrows.</li>
            <li>Details of each borrow are displayed in a row. You can see more details of a borrow, update its status or print it if needed.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
  </div>


  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">4. Get all the details of a borrow by clicking on "Details" on the corresponding row.</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
           <p><a href="images/borrowMgnt/borrowDetails.png"><img src="images/borrowMgnt/borrowDetailsmini.png" alt="borrow details"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Details of a borrow</h5>
          <ul>
            <li>One connected as the librarian, cick on "Management > Borrow Management" to get to the space reserved to the management of borrows.</li>
            <li>Click on "Details" to see details about a borrow.</li>
            <li>You can click on OK to close the pop up which displays the details.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
  </div>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">5. Click on "Update" to update the status of a given borrow:</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
           <p><a href="images/borrowMgnt/updateBorrowStatus.png"><img src="images/borrowMgnt/updateBorrowStatusmini.png" alt="update the status of a borrow"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Update the status of a borrow</h5>
          <ul>
            <li>One connected as the librarian, cick on "Management > Borrow Management" to get to the space reserved to the management of borrows.</li>
            <li>Click on "Update" to get the window allowing you to perform the update.</li>
            <li>You can update the date of the borrow or set the date of the return of the book.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
  </div>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">6. Cenerate a printable report of a borrow: click the pdf image: </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
           <p><a href="images/borrowMgnt/printedBorrowReport.png"><img src="images/borrowMgnt/printedBorrowReportmini.png" alt="printable pdf report."/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Print details of a borrow</h5>
          <ul>
            <li>One connected as the librarian, cick on "Management > Borrow Management" to get to the space reserved to the management of borrows.</li>
            <li>Click on the pdf image at the right most of the row.</li>
            <li>A pdf file containing the details of the borrow is generated and displayed in your browser. You can just save it where ever you want or print it.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
    </div>

  </section>
   
</div>
{% endblock %}

 {% block footer %}
  <div class="row" style="margin-top:20px;position: absolute;botom: 0;width:100%">
 <!-- Footer -->
   <center>
            <p style="font-weight:bold;color:white;background-color: black;margin:0; padding-top:20px;height:60px;margin-right:-10%;">Copyright &copy; PKFokam Institute Of Excellence</p>
   </center>
 </div>
{% endblock %}