
{% extends 'pkflibrary/miscellanous.html.twig '%}

{% block body %}
 <!-- Page Content -->
 <div class="container">

  <header style="font-family: ambleregular;color:#00008B;">
            <div id="moi">
              <h3 style="text-align:center;">User management help</h3>
            </div>
           
  </header>
 <section>
    <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">1. When you log in as the Librarian you have the following home page: </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/UserMgnt/homeAdmin.png"><img src="images/UserMgnt/homeAdminmini.png" alt="admin home page"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Home page of the librarian</h5>
          <ul>
            <li>The first thing you will always have to do before any operation is to log in with the correct credentials.</li>
            <li>As you noticed, the home page of the librarian is different from the home page of general users. You have more options, which are related to the management of books, the management of users and the management of borrows</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">2. Click on "Management > User Management" to move to the place dedicated to the management of users:</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/UserMgnt/selectUserMgnt.png"><img src="images/UserMgnt/selectUserMgntmini.png" alt="help"/></a></p>  
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Access to User Management space</h5>
          <ul>
            <li>One connected as the librarian, cick on "Management > User Management" to get to the space reserved to the management of users.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
  </div>


  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">3. When you click on "Management > User Management", you have the list of all the users (authorized or not)</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/UserMgnt/homeUserMgnt.png"><img src="images/UserMgnt/homeUserMgntmini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Home page of user management</h5>
          <ul>
            <li>From page you can handle users of the library.</li>
            <li>You have on the left side the categories of users that we have. By selecting one category, you filter the users list to display only users of the selected category.</li>
            <li>We have two groups of users, who are displayed into two different tabs: authorized users and unauthorized users.</li>
            <li>Authorized users are actually those who have access to the library. This means they are registered and enabled by the librarian.</li>
            <li>Unauthorized users are those registered but not enabled. They cannot log in the application until they are enabled by the librarian</li>
            <li>You have noticed the button "Add User" through which the librarian can add a new user.</li>
            <li>You can also research a user from this interface.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">4. From the previous page, you can search a user:</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/UserMgnt/searchUser.png"><img src="images/UserMgnt/searchUsermini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Research a user</h5>
          <ul>
            <li>From the previous page, you can search a user:</li>
            <li>Enter keywords corresponding to the name of the usser and click on "search"</li>
            <li>Details of the user are displayed if found and nothing is displayed otherwise.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

   <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">5. See user details and or enable/disable/delete a user:</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/UserMgnt/DiableUser.png"><img src="images/UserMgnt/DiableUsermini.png" alt="user details"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Basic operations on a user</h5>
          <ul>
            <li>In addition to adding a user, other basic operations which can be performed on a user include: editing, enable, disable, or delete a user.</li>
            <li>Once you click or research a user, this one's details are displayed on the screen, with options to update, enable or disable, and delete the user.</li>
            <li>To carry out one of the previous operations, just click on the corresponding button.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  <div class="row" style="margin-top:25px;">  
      <h4 style="font-family: ambleregular;color:green;">6. You can also add a new user:</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/UserMgnt/AddUser.png"><img src="images/UserMgnt/AddUsermini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Adding a new user</h5>
          <ul>
            <li>Click on the button "Add User"</li>
            <li>Fill in the form which is displayed</li>
            <li>Don't forget to fill in the mandatory fields, otherwise, you will receive warnings</li>
            <li>Save the newly created user.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  </section>
   
</div>
{% endblock %}

 {% block footer %}
  <div class="row" style="margin-top:20px;position: absolute;botom: 0;width:100%">
 <!-- Footer -->
   <center>
            <p style="font-weight:bold;color:white;background-color: black;margin:0; padding-top:20px;height:60px;margin-right:-10%;">Copyright &copy; PKFokam Institute Of Excellence</p>
   </center>
 </div>
{% endblock %}