
{% extends 'pkflibrary/miscellanous.html.twig '%}

{% block body %}
 <!-- Page Content -->
 <div class="container">

  <header style="font-family: ambleregular;color:#00008B;">
            <div id="moi">
              <h3 style="text-align:center;">How to use "My Account" Menu?</h3>
            </div>
           
  </header>
 <section>

   <div class="row" style="margin-top:25px;">
      <h4 style="font-family: ambleregular;color:green;">1. You have the choice between editing your personal data or your borrow report: </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/account/home_Account.png"><img src="images/account/home_Accountmini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Access to your personal space:</h5>
          <ul>
            <li>Your personal space include your personal data as well as a report of your activities in the library as far as book borrows are concerned.</li>
            <li>So in your personal space, you can have a look at the books that you borrowed.</li>
            <li>You can also edit your profile and update your personal data.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>


   <div class="row" style="margin-top:25px;">
      <h4 style="font-family: ambleregular;color:green;">2. Click on "My Personal Data" to edit your profile. Click on "Edit to modify your data." </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/account/UserDetails.png"><img src="images/account/UserDetailsmini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Edit your personal data:</h5>
          <ul>
            <li>When you click "My Account > My Personal Data", you have a screen similar to the one displayed on the left.</li>
            <li>You have some of your personal data which are displayed.</li>
            <li>You can click on the button "Edit" to edit your profile and see all your personal data</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>


  <div class="row" style="margin-top:25px;">
      <h4 style="font-family: ambleregular;color:green;">3. Carry out the modifications and click on "Modify" </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/account/EditUser.png"><img src="images/account/EditUsermini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Update your personal data:</h5>
          <ul>
            <li>When you edit your personal data, you have a screen similar to the one displayed on the left.</li>
            <li>Update the fields which need to be updated.</li>
            <li>Click on "Modify" to save the changes and "Cancel" to cancel the process.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

   <div class="row" style="margin-top:25px;">
      <h4 style="font-family: ambleregular;color:green;">4. See the list of books you have already borrowed - From "My Account", click on "Borrow Report":  </h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/account/userBorrows.png"><img src="images/account/userBorrowsmini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Display the list of books you have already borrowed:</h5>
          <ul>
            <li>When you click "My Account > Borrow Reports", you have a screen similar to the one displayed on the left.</li>
            <li>You have the list of your borrows displayed.</li>
            <li>You can carry out some research using the search input text field.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  </section>
   
</div>
{% endblock %}

 {% block footer %}
  <div class="row" style="margin-top:20px;position: absolute;botom: 0;width:100%">
 <!-- Footer -->
   <center>
            <p style="font-weight:bold;color:white;background-color: black;margin:0; padding-top:20px;height:60px;margin-right:-10%;">Copyright &copy; PKFokam Institute Of Excellence</p>
   </center>
 </div>
{% endblock %}