
{% extends 'pkflibrary/miscellanous.html.twig '%}

{% block body %}
 <!-- Page Content -->
 <div class="container">

  <header style="font-family: ambleregular;color:#00008B;">
            <div id="moi">
              <h3 style="text-align:center;">How to search a book from the Library?</h3>
            </div>
           
  </header>
 <section>


   <div class="row" style="margin-top:25px;">
    
      <h4 style="font-family: ambleregular;color:green;">1. From the home page and many other pages, there is a search option</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/search/homePage.png"><img src="images/search/homePagemini.png" alt="search"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Search a book by keywords</h5>
          <ul>
            <li>From many interfaces of the software, you have the possibility to research a book by key words.</li>
            <li>Everytime you see the research option, you can search a book from there.</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

   <div class="row" style="margin-top:25px;">
      <h4 style="font-family: ambleregular;color:green;">2. You can type a any keyword or a part of a keyword to search a book</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/search/Keyword.png"><img src="images/search/Keywordmini.png" alt="Search keyword"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Enter keywords to search a book:</h5>
          <ul>
            <li>From many interfaces of the software, you have the possibility to research a book by key words.</li>
            <li>Everytime you see the research option, you can search a book from there.</li>
            <li>Enter keywords, which can be related to the book title, the book authors or the editor and then click on "Search".</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  <div class="row" style="margin-top:25px;">
      <h4 style="font-family: ambleregular;color:green;">3. If the book is found it is displayed else nothing will be displayed</h4>
       <hr style="border-color:#008B8B;" />
      <div>
        <div class="col-lg-6">
          <p><a href="images/search/BookFound.png"><img src="images/search/BookFoundmini.png" alt="help"/></a></p>
        </div>
        <div class="col-lg-6" style="text-align: justify; background-color: #DCDCDC;font-family: ambleregular;">
          <h5 style="color:#00008B;">Results of the research</h5>
          <ul>
            <li>If books matching the keywords are found, they are displayed.</li>
            <li>If there is no book matching the searching criteria, nothing will be displayed</li>
            <li>If you have difficulties to see the picture, click on it and you will have a larger display.</li>
          </ul>
        </div>
      </div>
   </div>

  </section>
   
</div>
{% endblock %}

 {% block footer %}
  <div class="row" style="margin-top:20px;position: absolute;botom: 0;width:100%">
 <!-- Footer -->
   <center>
            <p style="font-weight:bold;color:white;background-color: black;margin:0; padding-top:20px;height:60px;margin-right:-10%;">Copyright &copy; PKFokam Institute Of Excellence</p>
   </center>
 </div>
{% endblock %}